*{
    margin: 0;
    padding: 0;
    font-family: "-webkit-pictograph";
    background: url('https://specials-images.forbesimg.com/imageserve/1077890030/960x0.jpg?fit=scale');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  .about{
      padding-left: 30px;
      padding-top: 100px;
      text-align: left;
      color: black;
      
  }

  h1{
      color: red;
  }
 
